@import "compass";
@import "compass/reset";

body {
    background: #333;
    color: #CCC;
    font-family: 'Consolas', 'Menlo', 'Monaco', 'Droid Sans Mono', 'Ubuntu Mono', 'Andale Mono', monospace;
    margin: 100px 20px;
    @include perspective(500);
    text-align: center;
}

h1 {
    color: #FFF;
    font-size: 2em;
    font-weight: bold;
}

ul, p {
    margin: 1em 0;
}

a {
    &:link, &:visited, &:active {
        color: #999;
    }
    
    text-decoration: none;
    @include single-transition(color, .5s, ease-in-out);
    
    &:hover {
        color: #FFF;
    }
}

#people {
    @include inline-block-list;
    margin-top: 1em;
    
    li {
        &:before {
            content: "& ";
        }
        
        &:first-child {
            &:before {
                content: "";
            }
        }
    }
}