/* line 8, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
html {
  font-size: 16px; }

/* line 12, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
body {
  background-color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #fff; }

/* language switch */
/* line 24, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
html:lang(en) *:lang(de) {
  display: none !important; }
/* line 29, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
html:lang(de) *:lang(en) {
  display: none !important; }

/* line 35, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.language-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10000;
  list-style: none;
  cursor: pointer; }
  /* line 44, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .language-switch span {
    float: left;
    margin: 0 0 0 10px; }
  /* line 50, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .language-switch li .inactive {
    opacity: 0.5; }

/* line 56, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%; }
  /* line 63, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  header.onWhite {
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; }
    /* line 70, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    header.onWhite .content2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 1024px;
      padding: 0 10px; }
      /* line 79, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
      header.onWhite .content2 .title {
        color: #413e3a !important; }
      /* line 83, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
      header.onWhite .content2 a {
        color: #413e3a !important; }
      /* line 87, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
      header.onWhite .content2 .logosmall {
        /*      position:absolute;
        top:$padding-top;
        top: 50%;
        right:10px;
        left: auto;
        transform: translate(0, -50%);*/
        box-shadow: none !important;
        border: 1px solid #413e3a !important;
        color: #413e3a !important;
        /*      background-color: #000 !important;
        color: #fff !important;*/ }
  /* line 103, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  header .title {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: calc(100vw - 20px);
    max-width: 1024px;
    padding-right: 60px;
    padding-left: 10px;*/
    width: calc(100% - 30px);
    max-width: 1024px;
    box-sizing: border-box; }
  /* line 118, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  header .back {
    display: none;
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 40px;
    float: left;
    margin: 0 20px 0 20px;
    padding: 20px 0 0 0; }
    /* line 127, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    header .back .fa {
      font-size: 48px; }

/* line 133, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
footer {
  border-top: 1px solid #fff;
  padding: 20px;
  position: relative;
  z-index: 1000;
  text-align: center; }
  /* line 140, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  footer.black {
    border-top: 1px solid #000;
    color: #000;
    padding: 20px; }
    /* line 145, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    footer.black p {
      color: #000 !important; }

/* line 151, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
a {
  color: #fff;
  text-decoration: none; }

/* line 156, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
p, h1, h2, h3, h4, h5, ul, li {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0; }

/* line 162, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
p {
  font-size: 1rem !important;
  font-weight: normal !important;
  line-height: 1.6rem !important; }

/* line 168, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
h1, .h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.0rem !important;
  line-height: 2.4rem !important;
  margin: 1rem 0 !important;
  font-weight: 400; }

/* line 176, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
h2, .h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem !important;
  line-height: 2.0rem !important;
  margin: 0 !important;
  font-weight: 500; }

/* line 184, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
h3, .h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem !important;
  line-height: 1.4rem !important;
  text-transform: none !important;
  margin: 0.3rem 0 !important;
  font-weight: 500; }

/* line 193, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
h4, .h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem !important;
  line-height: 1.4rem !important;
  margin: 0 !important;
  font-weight: 300; }

/* line 201, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
h5, .h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
  margin: 0 !important;
  font-weight: 500; }

/* line 209, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
h6, .h6 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  margin: 0 !important;
  font-weight: 300; }

/* line 217, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.underlined {
  text-decoration: underline; }

/* line 222, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.white {
  color: #fff !important; }

/* line 226, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.grey {
  color: #413e3a !important; }

/* line 230, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.bold {
  font-weight: 500 !important; }

/* line 234, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.italic {
  font-style: italic !important; }

/* line 238, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px; }

/* line 242, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.fw200 {
  font-weight: 200; }

/* line 246, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.fw300 {
  font-weight: 300; }

/* line 250, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.fw400 {
  font-weight: 400; }

/* line 254, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
section {
  margin: 0;
  padding: 0; }

/* line 259, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.disclaimers {
  color: #413e3a; }
  /* line 261, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .disclaimers .logosmall {
    margin: 20px; }

/* line 266, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.index {
  background-color: #413e3a; }

/* line 270, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#hint {
  position: absolute;
  width: 90%;
  bottom: 10px;
  left: 50%;
  text-align: center;
  font-weight: 400;
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }
  /* line 279, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #hint > h1 {
    margin-bottom: 4rem; }

/* line 284, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#backtotop {
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  right: 20px;
  text-align: center;
  opacity: 0;
  display: none;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }
  /* line 296, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #backtotop.show {
    opacity: 1 !important; }

/* line 301, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.logocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* line 308, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.logo {
  position: relative;
  width: 25vw;
  height: 25vw;
  min-width: 200px;
  min-height: 200px;
  max-width: 240px;
  max-height: 240px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px, rgba(0, 0, 0, 0.4) 0px 0px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px, rgba(0, 0, 0, 0.4) 0px 0px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px, rgba(0, 0, 0, 0.4) 0px 0px 2px inset; }

/* line 329, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.subline {
  margin: 1rem 0 0 0;
  width: 90vw; }

/* line 334, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.logosmall {
  /*    position:absolute;
      top:$padding-top;
      left:50%;
      z-index: 10000;*/
  font-size: 7px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px, rgba(0, 0, 0, 0.4) 1px 1px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px, rgba(0, 0, 0, 0.4) 1px 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px, rgba(0, 0, 0, 0.4) 1px 1px 2px inset;
  user-select: none; }

/* line 356, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.contactcontainer {
  width: 100vw;
  overflow: hidden; }
  /* line 360, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .contactcontainer .button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.3s; }
    /* line 369, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .contactcontainer .button.show {
      opacity: 1;
      transition-delay: 0.5s; }
    /* line 374, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .contactcontainer .button.hide {
      transition-delay: 0s;
      opacity: 0;
      pointer-events: none; }
    /* line 380, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .contactcontainer .button.close {
      left: 20px; }
  /* line 385, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .contactcontainer .contact {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 70px 0 2rem 0px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    -moz-transition-property: top;
    -o-transition-property: top;
    -webkit-transition-property: top;
    transition-property: top;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    /* line 396, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .contactcontainer .contact .adr {
      height: 160px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column; }
    /* line 404, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .contactcontainer .contact .icon {
      float: left;
      padding: 2px 10px 0 0; }
    /* line 410, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .contactcontainer .contact .icons {
      float: left;
      text-align: center;
      margin: 0px 0 0 20px;
      height: 160px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column; }
    /* line 421, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .contactcontainer .contact.close {
      top: -280px; }

/* line 427, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#background {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  background: linear-gradient(to bottom, #313947 0%, #555866 100%); }
  /* line 443, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #background.show {
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 1.0; }
  /* line 448, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #background.hide {
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    opacity: 0.0; }

/* line 454, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#slideshow {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.0;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden; }
  /* line 471, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #slideshow.show {
    opacity: 1.0; }
  /* line 475, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #slideshow.hide {
    opacity: 0.0; }

/* line 480, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#overlay {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); }

/* line 488, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.slide {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -moz-transition: opacity 3s;
  -o-transition: opacity 3s;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden; }
  /* line 503, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .slide > .directlink {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    text-align: right;
    margin: 20px 20px 20px 0; }
  /* line 512, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .slide.show {
    opacity: 1 !important; }
  /* line 516, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .slide.hide {
    opacity: 0; }

/* line 522, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#contentcontainers {
  position: relative;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%; }

/* line 531, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.content {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  clear: both; }
  /* line 537, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .content h2 {
    margin: 0 auto 0 auto;
    width: calc(100% - 40px);
    max-width: 800px;
    text-align: left; }

/* line 545, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#projects {
  list-style: none;
  width: 95vw;
  margin: 0 auto 0 auto;
  padding-top: 10px; }
  /* line 551, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #projects > li {
    position: relative;
    display: block;
    margin: 0px 0 20px 0px;
    padding: 0 1vw 0 1vw;
    vertical-align: center;
    box-sizing: border-box; }
  /* line 560, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #projects > * .description {
    width: 100% !important;
    padding: 10px 0;
    box-sizing: border-box; }
  /* line 566, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #projects > * .thumb {
    width: 100%;
    padding-bottom: 60%;
    box-sizing: border-box;
    margin: 0 0px 0px 0px;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 2px; }
    /* line 581, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    #projects > * .thumb :hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

/* line 587, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#startvideo {
  position: relative;
  padding-bottom: 56%;
  /* 16:9 */
  padding-top: 0;
  height: 0;
  margin: 90px 0 0 0;
  background: url("../assets/spinner.svg"), linear-gradient(to bottom, #313947 0%, #555866 100%);
  background-position: center;
  background-repeat: no-repeat; }
  /* line 597, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #startvideo > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s; }
    /* line 607, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    #startvideo > iframe.show {
      opacity: 1 !important; }

/* line 613, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.startimagecontainer {
  width: 100%;
  height: 100vw;
  margin: 90px 0 0 0;
  background: url("../assets/spinner.svg"), linear-gradient(to bottom, #313947 0%, #555866 100%);
  background-position: center;
  background-repeat: no-repeat; }

/* line 622, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#startimage {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  background-color: #000;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #EBE9E4;
  opacity: 0;
  transition: opacity 1s; }
  /* line 637, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #startimage.show {
    opacity: 1 !important; }

/* line 643, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.projectcontent {
  position: relative;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto 0 auto;
  padding: 0 10px; }
  /* line 650, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .projectcontent .projectinformation {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  /* line 658, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .projectcontent .description {
    color: #413e3a; }
    /* line 661, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .projectcontent .description a {
      text-decoration: underline !important; }
  /* line 666, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .projectcontent .shortdescription {
    margin: 0 0 1rem 0;
    color: #413e3a;
    font-weight: 500 !important; }
  /* line 672, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .projectcontent .credits {
    margin: 1rem 0 0rem 0;
    color: #413e3a;
    width: 100%; }
    /* line 677, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .projectcontent .credits p {
      font-size: 0.8rem !important; }
    /* line 681, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .projectcontent .credits strong {
      font-weight: 600; }
    /* line 685, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .projectcontent .credits a {
      text-decoration: underline !important; }
  /* line 690, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .projectcontent > * p {
    margin: 0rem 0 0rem 0;
    line-height: 1.5rem; }
  /* line 695, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .projectcontent > * a {
    color: #413e3a; }

/* line 701, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
#images {
  width: 100%;
  flex: 0 0 100%; }

/* line 707, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.imprint header {
  background-image: none; }
/* line 711, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.imprint section {
  margin: 80px 20px;
  max-width: 800px;
  position: absolute;
  z-index: 1000; }

/* line 719, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.scroll-btn {
  position: relative;
  display: inline-block;
  border: 0px solid #fff;
  padding: 0 20px 0 20px; }

/* line 726, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.centered {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* line 737, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.top {
  top: 20px;
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }

/* line 742, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.type-quicksand {
  font-weight: 300 !important;
  letter-spacing: 2px !important; }

/* line 748, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.anim-fade {
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }
  /* line 751, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .anim-fade.hide {
    opacity: 0; }
  /* line 755, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .anim-fade.show {
    opacity: 1; }

/* line 760, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.shadow {
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px; }

/* line 766, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.grid-item {
  margin: 0 0 20px 0;
  width: 100%;
  float: left;
  overflow: hidden; }
  /* line 772, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .grid-item > img {
    display: block;
    max-width: 100%;
    min-width: 100%; }
  /* line 778, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .grid-item > video {
    display: block;
    width: 100%;
    height: auto; }

/* line 785, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.gutter-sizer {
  width: 2%; }

/* line 790, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.grid .grid-3 .grid-4 .grid-sizer {
  width: 100%; }
/* line 793, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.grid .grid-3 .grid-4 .grid-item {
  width: 100% !important; }

@media screen and (min-width: 40.5em) {
  /* line 800, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  html {
    font-size: 16px; }

  /* line 805, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  header.onWhite {
    height: 120px; }
    /* line 808, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    header.onWhite .title {
      width: calc(100% - 100px); }

  /* line 814, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .back {
    display: block; }

  /* line 818, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  h1, .h1 {
    font-size: 2.5rem !important;
    line-height: 2.7rem !important; }

  /* line 823, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  h2, .h2 {
    font-size: 2rem !important;
    line-height: 2.7rem !important; }

  /* line 828, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  h3, .h3 {
    font-size: 1.4rem !important;
    line-height: 1.4rem !important;
    margin: 0.3rem 0 !important;
    font-weight: 400 !important; }

  /* line 835, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  h5, .h5 {
    font-weight: 400 !important; }

  /* line 839, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  h6, .h6 {
    font-weight: 300 !important; }

  /* line 843, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .logosmall {
    /*position:absolute;
    top:$padding-top;
    right:20px;
    left: auto;
    @include transform(translate(0,0));*/
    display: block; }

  /* line 853, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .contactcontainer .button {
    display: none; }
  /* line 857, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .contactcontainer .contact {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    font-weight: 400;
    padding: 20px 0 0 0px;
    width: 100%;
    height: 140px;
    background: none; }
    /* line 869, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .contactcontainer .contact.close {
      top: 0; }

  /* line 876, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .grid .grid-sizer {
    width: 49%; }
  /* line 880, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .grid .grid-item {
    margin: 0 0 2% 0;
    width: 49%;
    float: left;
    overflow: hidden; }
    /* line 886, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .grid .grid-item > img {
      display: block;
      max-width: 100%; }

  /* line 894, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .grid-3 .grid-sizer {
    width: 32% !important; }
  /* line 897, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .grid-3 .grid-item {
    width: 32% !important; }

  /* line 903, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .grid-4 .grid-sizer {
    width: 23.5% !important; }
  /* line 906, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .grid-4 .grid-item {
    width: 23.5% !important; }

  /* line 911, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .description {
    width: 68% !important;
    padding: 0 2% 0 0;
    box-sizing: border-box; }

  /* line 917, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .credits {
    width: 32% !important;
    margin: 0 !important; }
    /* line 921, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
    .credits p {
      border-left: 1px solid #413e3a;
      padding: 0 0 0 0.5rem;
      height: 100%; }

  /* line 928, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #images {
    margin-top: 1rem; }

  /* line 932, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .startimagecontainer {
    height: calc(100vh - 120px) !important;
    margin-top: 120px; }

  /* line 937, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #startvideo {
    margin-top: 120px; }

  /* line 941, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .logosmall {
    font-size: 12px;
    font-weight: 400;
    line-height: 80px;
    width: 80px;
    height: 80px; } }
@media screen and (min-width: 64em) {
  /* line 952, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  #hint {
    width: 50%; }

  /* line 957, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .content > * p {
    width: 70%;
    text-align: center; }

  /* line 964, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .header > * p {
    width: 50%; } }
/* line 971, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
.disclaimers section {
  position: relative; }
  /* line 973, /Users/patrickkochlik/Documents/DEV/SYNTOP/Syntop_Website/2016-syntop-io/source/stylesheets/all.scss */
  .disclaimers section h1, .disclaimers section h2, .disclaimers section h3, .disclaimers section h4, .disclaimers section h5, .disclaimers section h6 {
    margin-top: 1em !important;
    font-weight: bolder !important; }
