/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.scss */
body {
  background: #333;
  color: #CCC;
  font-family: Lato, sans-serif;
  font-weight: 300;
  margin: 100px 20px;
  -webkit-perspective: 500;
  perspective: 500;
  text-align: center;
}

/* line 14, ../sass/screen.scss */
h1 {
  color: #FFF;
  font-family: Quicksand, serif;
  font-weight: 300;
  font-size: 400%;
  line-height: 6em;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  width: 6em;
  height: 6em;
  border: 1px solid #FFF;
  margin: 0 auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition-property: -webkit-transform, background-color;
  -moz-transition-property: -webkit-transform, background-color;
  -ms-transition-property: -webkit-transform, background-color;
  -o-transition-property: -webkit-transform, background-color;
  transition-property: -webkit-transform background-color;
  -webkit-transition-duration: 5000ms;
  -moz-transition-duration: 5000ms;
  -ms-transition-duration: 5000ms;
  -o-transition-duration: 5000ms;
  transition-duration: 5000ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-backface-visibility: hidden;
}
/* line 32, ../sass/screen.scss */
h1:hover {
  -webkit-transform: rotateY(-180deg) rotateX(20deg) scale(0.8);
  -moz-transform: rotateY(-180deg) rotateX(20deg) scale(0.8);
  -ms-transform: rotateY(-180deg) rotateX(20deg) scale(0.8);
  -o-transform: rotateY(-180deg) rotateX(20deg) scale(0.8);
  transform: rotateY(-180deg) rotateX(20deg) scale(0.8);
}

/* line 37, ../sass/screen.scss */
ul, p {
  margin: 1em 0;
}

/* line 41, ../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 42, ../sass/screen.scss */
a:link, a:visited, a:active {
  color: #999;
}
/* line 48, ../sass/screen.scss */
a:hover {
  color: #FFF;
}
